/**
 * App
 *
 * Basic styling for app component
 */

$darkMode: "#toggle-dark-mode-cb:checked + .toggle-dark-mode-wrapper + .app";

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  width: 100%;
  font-family: 'Maven Pro', sans-serif;
}

.app {
  width: 100%;
  background-color: var(--light-background-color);
  color: var(--light-text-color);
  transition: all 0.3s ease-in-out;
  padding: 0 48px 48px 48px;
}

#{$darkMode} {
  background: var(--dark-background-color);
  color: var(--dark-text-color);
}

.header {
  display: flex;
  align-items: center;
  padding: 18px 0;
}

.logo {
  background: url("../public/assets/valmet_logo.png") left center/contain no-repeat;
  width: 120px;
  height: 50px;
  margin-right: 20px;
}

#{$darkMode} .logo {
  background-image: url("../public/assets/valmet_logo_dark.png");
}

.page-title {
  color: var(--light-text-color);
  font-size: 24px;
  font-weight: 700;
}

#{$darkMode} .page-title {
  color: var(--dark-text-color);
}

/* RESPONSIVE STYLING */
@media screen and (max-width: 768px) {
  .app {
    padding: 0 30px 30px 30px;
  }

  .page-title {
    font-size: 20px;
  }
}

@media screen and (max-width: 480px) {
  .app {
    padding: 0 12px 12px 12px;
  }

  .page-title {
    font-size: 20px;
    padding-top: 20px;
  }
}
